{% load static %} {% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>制造能力指数MCI可视化看板</title>
    <script
      type="text/javascript"
      src="{% static 'mci/js/jquery.js' %}"
    ></script>
    <link rel="stylesheet" href="{% static 'mci/css/comon0.css' %}" />
  </head>
  <script>
    $(window).load(function () {
      $(".loading").fadeOut();
    });

    /****/
    $(document).ready(function () {
      var whei = $(window).width();
      $("html").css({ fontSize: whei / 20 });
      $(window).resize(function () {
        var whei = $(window).width();
        $("html").css({ fontSize: whei / 20 });
      });
    });
  </script>
  <script
    type="text/javascript"
    src="{% static 'mci/js/echarts.min.js' %}"
  ></script>
  <script
    type="text/javascript"
    src="{% static 'mci/js/Chart.min.js' %}"
  ></script>
  <script
    type="text/javascript"
    src="{% static 'mci/js/chartjs-plugin-datalabels.min.js' %}"
  ></script>

  <!-- <script language="JavaScript" src="{% static 'mci/js/js.js' %}"></script> -->

  <body>
    <div class="canvas" style="opacity: 0.2">
      <iframe
        frameborder="0"
        src="{% static 'mci/js/index.html' %}"
        style="width: 100%; height: 100%"
      ></iframe>
    </div>
    <div class="loading">
      <div class="loadbox">页面加载中...</div>
    </div>

    <div class="head">
      <h1>制造能力指数MCI可视化看板</h1>
      <!-- <div class="weather"><img src="picture/weather.png"><span>多云转小雨</span>-->
      <!-- <span id="showTime"></span> </div> -->
    </div>

    <div class="mainbox">
      <ul class="clearfix">
        <li style="float: left">
          <div class="boxall" style="height: 100%">
            <div class="alltitle">热轧2250产线一对一制造能力指数</div>
            <div class="allnav">
              <canvas id="mci_1v1_2250_bar"></canvas>
            </div>
            <div class="boxfoot"></div>
          </div>
          <div class="boxall" style="height: 100%">
            <div class="alltitle">热轧1580产线一对一制造能力指数</div>
            <div class="allnav">
              <canvas id="mci_1v1_1580_bar"></canvas>
            </div>
            <div class="boxfoot"></div>
          </div>
          <div class="boxall" style="height: 100%">
            <div class="alltitle">优对优制造能力指数</div>
            <div class="allnav">
              <canvas id="mci_bvb_bar"></canvas>
            </div>
            <div class="boxfoot"></div>
          </div>
        </li>
        <li style="float: left"></li>
        <li style="float: left">
          <div class="boxall" style="height: 100%">
            <div class="alltitle">热轧2250产线一对一各指标MCI对比</div>
            <div class="allnav">
              <canvas id="mci_1v1_2250_radar"></canvas>
            </div>
            <div class="boxfoot"></div>
          </div>
          <div class="boxall" style="height: 100%">
            <div class="alltitle">热轧1580产线一对一各指标MCI对比</div>
            <div class="allnav">
              <canvas id="mci_1v1_1580_radar"></canvas>
            </div>
            <div class="boxfoot"></div>
          </div>
          <div class="boxall" style="height: 200">
            <div class="alltitle">优对优MCI各指标MCI对比</div>
            <div class="allnav">
              <canvas id="mci_bvb_radar"></canvas>
            </div>
            <div class="boxfoot"></div>
          </div>
        </li>
      </ul>
    </div>

    <div class="back"></div>

    <!-- <script type="text/javascript" src="js/china.js"></script>  -->
    <!-- <script type="text/javascript" src="js/area_echarts.js"></script>  -->
  </body>
  <script>
    var defaultOptions = {
      plugins: {
        // Change options for ALL labels of THIS CHART
        datalabels: {
          color: "#FFF",
          anchor: "end",
          align: "end",
        },
      },
      legend: {
        labels: {
          fontColor: "#FFF",
        },
      },
      scales: {
        xAxes: [
          {
            gridLines: {
              color: "#666",
            },
            ticks: {
              fontColor: "#FFF",
            },
          },
        ],
        yAxes: [
          {
            gridLines: {
              color: "#666",
            },
            ticks: {
              fontColor: "#FFF",
              beginAtZero: true,
            },
          },
        ],
      },
    };

    var radarOptions = {
      plugins: {
        // Change options for ALL labels of THIS CHART
        datalabels: {
          color: "#FFF",
          anchor: "end",
          align: "end",
        },
      },
      legend: {
        labels: {
          fontColor: "#FFF",
        },
      },
      scale: {
        angleLines: {
          color: "#666",
          display: false,
        },
        pointLabels: {
          fontColor: "#FFF",
        },
        gridLines: {
          color: "#666",
        },
        ticks: {
          display: false,
          suggestedMin: 0.5,
          suggestedMax: 1.5,
        },
      },
    };
  </script>
  <script>
    var ctx = document.getElementById("mci_1v1_2250_bar").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {{  mci_1v1_2250_bar_data | safe }},
      options: defaultOptions,
    });

    var ctx = document.getElementById("mci_1v1_1580_bar").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
     data: {{  mci_1v1_1580_bar_data | safe }},
      options: defaultOptions,
    });

    var ctx = document.getElementById("mci_bvb_bar").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {{  mci_bvb_bar_data | safe }},
      options: defaultOptions,
    });
  </script>

  <script>
    var ctx = document.getElementById("mci_1v1_2250_radar").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "radar",
      data: {{  mci_1v1_2250_radar_data | safe }},
      options: radarOptions,
    });

    var ctx = document.getElementById("mci_1v1_1580_radar").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "radar",
      data: {{  mci_1v1_1580_radar_data | safe }},
      options: radarOptions,
    });

    var ctx = document.getElementById("mci_bvb_radar").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "radar",
      data: {{  mci_bvb_radar_data | safe }},
      options: radarOptions,
    });
  </script>
</html>
